.card {
  border-radius: 15px;
  width: 250px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: beige;
  box-shadow: 0 0 4px 4px rgb(184, 184, 184);
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.car_title {
  font-size: 18px;
  color: blue;
  font-weight: bold;
}

.card_info {
  font-size: 18px;
}
